* {
  background-color: rgba(197, 238, 238, 0.439);
}

body {
  display: flex;
  justify-content: center;
}

.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 640px;
  width: 200px;
  padding: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 100px;
}

.box1 {
  background-color: red;
  border: 15px solid rgb(151, 4, 4);
  height: 200px;
  width: 200px;
  margin-top: 0%;
  margin-bottom: 10px;
}

.boxin1 {
  background-color: rgb(241, 133, 133);
  display: flex;
  height: 95px;
  width: 190x;
  margin-top: 95px;
}

.box2 {
  background-color: yellow;
  border: 15px solid rgb(142, 142, 5);
  margin-bottom: 10px;
  height: 200px;
  width: 200px;
}

.boxin2 {
  background-color: rgb(255, 255, 106);
  border: 10px solid rgb(255, 255, 106);
  height: 60px;
  width: 60px;
  margin-top: 95px;
  margin-left: 60%;
  display: flex;
}

.box3 {
  background-color: green;
  border: 15px solid rgb(5, 81, 18);
  height: 200px;
  width: 200px;
}

.boxin3 {
  background-color: rgba(125, 236, 91, 0.696);
  display: flex;
  height: 95px;
  width: 190x;
  margin-top: 70px;
  margin-right: 50%;
}
